Cdw.Testapplication/Service References/WCFService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Cdw.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Cdw.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Cdw.Service/Imports">
      <xsd:import schemaLocation="https://umdac-olho0001.ad.umu.se/Cdw.Service/Service.svc?xsd=xsd0" namespace="Cdw.Service" />
      <xsd:import schemaLocation="https://umdac-olho0001.ad.umu.se/Cdw.Service/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://umdac-olho0001.ad.umu.se/Cdw.Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cdw.Objects" />
      <xsd:import schemaLocation="https://umdac-olho0001.ad.umu.se/Cdw.Service/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetLoginContext_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginContext" />
  </wsdl:message>
  <wsdl:message name="IService_GetLoginContext_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginContextResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComputer" />
  </wsdl:message>
  <wsdl:message name="IService_CreateComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSoftware_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftware" />
  </wsdl:message>
  <wsdl:message name="IService_GetSoftware_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNextAvailableComputerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAvailableComputerName" />
  </wsdl:message>
  <wsdl:message name="IService_GetNextAvailableComputerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAvailableComputerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputer" />
  </wsdl:message>
  <wsdl:message name="IService_GetComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetLoginContext">
      <wsdl:input wsaw:Action="Cdw.Service/IService/GetLoginContext" message="tns:IService_GetLoginContext_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/GetLoginContextResponse" message="tns:IService_GetLoginContext_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Cdw.Service/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateComputer">
      <wsdl:input wsaw:Action="Cdw.Service/IService/CreateComputer" message="tns:IService_CreateComputer_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/CreateComputerResponse" message="tns:IService_CreateComputer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="Cdw.Service/IService/GetUser" message="tns:IService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/GetUserResponse" message="tns:IService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftware">
      <wsdl:input wsaw:Action="Cdw.Service/IService/GetSoftware" message="tns:IService_GetSoftware_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/GetSoftwareResponse" message="tns:IService_GetSoftware_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextAvailableComputerName">
      <wsdl:input wsaw:Action="Cdw.Service/IService/GetNextAvailableComputerName" message="tns:IService_GetNextAvailableComputerName_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/GetNextAvailableComputerNameResponse" message="tns:IService_GetNextAvailableComputerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputer">
      <wsdl:input wsaw:Action="Cdw.Service/IService/GetComputer" message="tns:IService_GetComputer_InputMessage" />
      <wsdl:output wsaw:Action="Cdw.Service/IService/GetComputerResponse" message="tns:IService_GetComputer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>