Cdw.Testapplication/Service References/WCFService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Cdw.Service" elementFormDefault="qualified" targetNamespace="Cdw.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://umdac-olho0001.ad.umu.se/Cdw.Service/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cdw.Objects" />
  <xs:element name="GetLoginContext">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="GetLoginContextResult" nillable="true" type="q1:LoginContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="request" nillable="true" type="q2:AuthenticationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="LoginResult" nillable="true" type="q3:AuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="computer" nillable="true" type="q4:Computer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="CreateComputerResult" nillable="true" type="q5:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="GetUserResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoftware">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoftwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="GetSoftwareResult" nillable="true" type="q7:ArrayOfSoftwareItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextAvailableComputerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextAvailableComputerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="GetNextAvailableComputerNameResult" nillable="true" type="q8:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cdw.Objects" minOccurs="0" name="GetComputerResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>